button{
    width: auto;
    height: 7vh;
    font-size: 3vh;
    margin-top: 5%;
    background-color: rgb(20, 19, 19);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 3vh;
    margin-top: 6vh;
    cursor: pointer;
}

button:hover{
    background-color: #4b47475b;
    color: white;
}

@media (max-width:590px){
    button{
        margin: 20px;
    }
}