.formulario{
    margin-top: 80px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3.5vh;
}

form{
    max-width: 700px;
    min-width: 500px;
    height: auto;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

input{
    width: 80%;
    height: 2.5em;
    margin: 4%;
    border: none;
    border-radius: 5px;
    text-align: start;
    padding-left: 2vh;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.182);
    border: 1px solid gray;
    color: white;
}

.comentario{
    height: 20vh;
}

h4{
    color: white;
    text-align: center;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7vh;
    padding-right: 5vh;
    font-size: 5vh;
    letter-spacing: 5px;
    line-height: 70px;
}

h5{
    color: white;
    text-align: start;
    margin-bottom: 2vh;
}

.listaContacto{
    width: 90%;
    margin-top: 300px;
    margin-left: 100px;
    list-style: none;
}

.listaContacto li{
    color: white;
    text-align: start;
}

.icon{
    width: 2vh;
    height: 2vh;
    margin-right: 1vh;
}

.redesIcons{
    display: flex;
    list-style: none;
}

.redesIcons li{
    margin-right: 2vh;
}

.redesIcons img{
    width: 4vh;
    height: 4vh;
}

.redesTitulo{
    margin-top: 4vh;
}

button{
    padding-left: 4vh;
    padding-right: 4vh;
}

@media (max-width:1366px){
    .listaContacto{
        margin-top: 50px;
    }
    .formulario{
        margin-top:30px;
    }
}

@media (max-width:1318px){
    .listaContacto{
        margin-top: 200px;
    }
}

@media (max-width:1154px){
    .listaContacto{
        width: 100%;
        margin-left: 30px;
        margin-top: 50px;
    }
}

@media (max-width:1154px){
    .listaContacto{
        width: 100%;
        margin-left: 30px;
        margin-top: 70px;
    }
}



