.divFoto img{
    width:75%;
    height: 100%;
}

.divFoto{
    margin-top: 5vh;
    width: 100%;
    height: 90vh;
}

@media (max-width:1600px){
    .divFoto img{
        width:75%;
        height: 100%;
    }
}

@media (max-width:1562px){
    .divFoto img{
        width:75%;
        height: 90%;
    }
}

@media (max-width:1467px){
    .divFoto img{
        width:75%;
        height: 85%;
        margin-top: 5%;
    }
}

@media (max-width:1424px){
    .divFoto img{
        width:75%;
        height: 80%;
        margin-top: 7%;
    }
}

@media (max-width:1344px){
    .divFoto img{
        width:80%;
        height: 90%;
        margin-top: 3%;
    }
}

@media (max-width:1243px){
    .divFoto img{
        width:90%;
        height: 80%;
        margin-top: 7%;
    }
}

@media (max-width:1076px){
    .divFoto img{
        width:100%;
    }
}

@media (max-width:1054px){
    .divFoto img{
        width:100%;
        height: 70%;
        margin-top: 20%;
    }
}