.presentacion{
    text-align: center;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
}

.nombre{
    color:#F0F0F0;
    font-weight: bolder;
    margin-top: 20%;
    text-align: center;
    position: relative;
    padding-left: 2vh;
}

.profesion{
    clear: both;
    text-align: center;
}

.presentacion h1{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    margin-left: auto;
    margin-right: auto;
    width: 547px;

    animation: tipeo 3s steps(16), 
    blink 0.7s infinite step-end alternate;
    overflow: hidden;
}

@keyframes tipeo {
    from{
        width: 0;
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    } 
}

@media (max-width:1243px){
    .nombre{
        padding-left: 0;
    }
    .presentacion h1{
        width: 528px;
    }
}

@media (max-width:1152px){
    .presentacion h1{
        font-size: 45px;
        width: 469px;
    }
}

@media (max-width:600px){
    .presentacion h1{
        font-size: 40px;
        width: 469px;
        padding: 0%;
        margin: 0%;
    }
    .profesion{
        margin-bottom: 50px;
    }
}

